.skill-card{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    .skill-card-title,.skill-card-list{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .skill-card-title{
        padding: 5px;
        border-bottom: 2px solid var(--thrd-color);
    }
    .skill-card-list{
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }
}